<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <meta name="description"
    content="Explore Kisan Seva's marketplace for high-quality agricultural supplies, including fertilizers, pesticides, seeds, and more. Empowering Indian farmers with essential farming products to enhance productivity.">
  <meta name="lang" content="en">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <link rel="canonical" href="https://kisanseva.shop/products">
  <link rel="icon" href="/static/index/favicon.ico"/>

  <!--Structured Data Markup js-->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Kisan Seva",
    "url": "https://kisanseva.shop/products",
    "logo": "https://kisanseva.shop/kisan_seva_logo",
  }
</script>

  <!-- Instagram -->
  <meta property="og:image" content="https://www.instagram.com/kisanseva.shop/" />
  <meta property="og:type" content="profile">
  <meta property="og:site_name" content="Instagram">
  <meta property="og:url" content="https://www.instagram.com/kisanseva.shop/">
  <meta property="og:title" content="Kisan Seva on Instagram">
  <meta property="og:description" content="Follow Kisan Seva on Instagram for updates and insights.">
  <meta property="og:image" content="https://kisanseva.shop/kisan_seva_logo">


  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://x.com/kisanseva24">
  <meta property="twitter:title" content="Kisan Seva - Empowering Indian Farmers">
  <meta property="twitter:description"
    content="Welcome to Kisan Seva, a platform dedicated to supporting Indian farmers with valuable resources and tools to improve agricultural practices and access essential services.">
  <meta property="twitter:image" content="https://kisanseva.shop/kisan_seva_logo">

  <!--Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
  <!--Bootstrap JS-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <!--Google Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!--Search Box & NavBar functionality-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/static/css/products_home.css">
</head>

<body>
  <div class="site-container">
    <header>
      <div class="accessibility_top_nav">
        <div class="wrapper">
          <div class="region region-header-top">
            <div id="block-cmf-content-header-region-block" class="block block-cmf-content first last odd">
              <div class="wrapper common-wrapper" style="background-color: lightgrey;">
                <div class="container common-container">
                  <div class="common-left clearfix" style="height: 85px;">
                    <!-- Updated the ul style to include centering properties -->
                    <ul
                      style="display: flex; justify-content: center; align-items: center; height: 100%; margin: 0; padding: 0;">
                      <li style="list-style: none;">
                        <!-- Added a list item element for proper HTML structure -->
                        <a href="/">
                          <img src="/static/index/kisan_seva_logo.webp" alt="kisan seva logo"
                            style="height: 70px; border-radius: 100px;">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Page Navigation goes here -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand">Kisan Seva</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/" aria-label="Homepage">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  About Us
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/mission" aria-label="Our Mission & Vision">Mission &
                      Vision</a>
                  </li>
                  <li><a class="dropdown-item" href="/about" aria-label="About">Our Team</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products" aria-label="Products Homepage">Products</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">

              <!-- Language Dropdown
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLang" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              Language
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownLang">
                              <li><a class="dropdown-item"
                                      href="https://kisanseva-shop.translate.goog/?_x_tr_sl=en&_x_tr_tl=hi&_x_tr_hl=en-US&_x_tr_pto=wapp">हिंदी</a>
                              </li>
                          </ul>
                      </li> -->

              <!-- Account Info and Logout Buttons -->
              {% if session.logged_in %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account') }}">
                  <i class="bi bi-person-circle"></i> Account
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link logout-button" href="{{ url_for('logout') }}">
                  <i class="bi bi-box-arrow-right"></i> Logout
                </a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link btn-signin" href="/login">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-signup ms-3" href="/signup" role="button">Sign Up</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="content-wrap">

      <!-- Bootstrap Modal for displaying flash messages -->
      <div class="modal fade" id="flashModal" tabindex="-1" aria-labelledby="flashModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="flashModalLabel">Notification</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-5">

        {% for category, products in products_by_category.items() %}
        <h2>{{ category }}</h2>
        <div class="row">
          {% for product in products %}
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{{ url_for('static', filename=product.image) }}" class="card-img-top" alt="{{ product.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Price: ₹{{ product.price }}</p>
                <p class="card-text">Rating: {{ product.stars }}</p>
                <a href="{{ url_for('checkout', product_id=product._id) }}" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

    </main>

    <!-- footer-->
    <footer class="footer mt-auto">
      <div class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-3 footer-column">
            <h5>Services</h5>
            <div>
              <a href="/prediction">Crop Prediction</a>
            </div>
            <div>
              <a href="/marketplace">Shop</a>
            </div>
            <div>
              <a href="/loan">Agri Loan</a>
            </div>
          </div>
          <div class="col-md-3 footer-column">
            <h5>About</h5>
            <div>
              <a href="/about">Our Team</a>
            </div>
            <div>
              <a href="/mission">Mission & Vision</a>
            </div>
            <div>
              <a href="https://forms.gle/iRf3eKC6bq9XV21B7">Feedback</a>
            </div>
            <div>
              <a href="https://forms.gle/Gb3K34tQgGyLmazL8">Contact Us</a>
            </div>
          </div>
          <div class="col-md-3 footer-column">
            <h5>Legal</h5>
            <div>
              <a href="/privacy_policy">Privacy Policies</a>
            </div>
            <div>
              <a href="/terms_and_conditions">Term & Conditions</a>
            </div>
            <div>
              <a href="/disclaimer">Disclaimer</a>
            </div>
          </div>
          <div class="col-md-3 footer-column">
            <h5>Connect</h5>
            <div class="social-icons">
              <a href="#"><img src="https://img.icons8.com/ios-filled/50/ffffff/facebook-new.png" alt="Facebook"
                  style="width: 24px;"></a>
              <a href="https://twitter.com/kisanseva24"><img
                  src="https://img.icons8.com/ios-filled/50/ffffff/twitter.png" alt="Twitter" style="width: 24px;"></a>
              <a href="https://www.instagram.com/kisanseva.shop/"><img
                  src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new.png" alt="Instagram"
                  style="width: 24px;"></a>
              <a href="#"><img src="https://img.icons8.com/ios-filled/50/ffffff/youtube.png" alt="Youtube"
                  style="width: 24px;"></a>
            </div>
            <a href="#">Newsletter</a>
          </div>
        </div>
        <div class="text-center mt-4">
          <p>Copyright © 2024 Kisan Seva. All rights reserved.</p>
          <p>Total Visits: {{ visitor_count }}</p>
        </div>
      </div>
    </footer>

  </div>
</body>

</html>